<div class="homeZappy">

  <div class="left-div">
      <div class="header">
        <header>
          <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 logo">
                    <img src="assets/img/logo-white.png" alt="logo" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 userProfile"></div>
            </div>
          </div>
        </header>
      </div>
  </div>
  <div class="right-div">

    <div class="banner_image" id="img0001">

      <div class="banner_image banner_bg">

      </div>

    </div>

    <!-- <div class="banner_image banners">
      <div id="myCarousel" class="banner_image carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        
        <div class="banner_image carousel-inner">
          <div class="banner_image item active">
            <div class="banner_image" id="img0001">
          </div>

          <div class="item">
              <div class="banner_image" id="img0002">
          </div>

          <div class="item">
              <div class="banner_image" id="img0003">
          </div>
          <div class="item">
              <div class="banner_image" id="img0004">
          </div>
        </div>

      </div>
    </div> -->
  </div>
</div>